<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Forms and Inputs</title>
</head>
<body>
<p>示例一:</p>
<form action="">
First name: <input type="text" name="firstname"><br>
Last name: <input type="text" name="lastname">
</form>
</form>
<p>示例二:</p>
<form action="">
    <input type="radio" name="sex" value="male">男<br>
    <input type="radio" name="sex" value="female">女
</form>
<p>示例三:</p>
<form name="input" action="html_form_action.php" method="get">
    Username: <input type="text" name="user">
    <input type="submit" value="Submit">
</form>

</body>
</html>